html{
    font-family: 'source sans pro', sans-serif ;
     font-size:16px;
    line-height:1.8;
    color: #5a5150;
}

 h2, h3{
    font-family: 'karla';
    color:#4e4b4b ;
}
h2{
font-size:40px; 
line-height:1.2;
}

h3{
    font-size:16px;
    line-height: 1.4;
}

h4{
font-size: 16px;
color:#919291;
font-family: 'karla';
color:#4e4b4b ;
}
hyperlink{
    font-family: 'karla';
    font-size: 14px;
    color:#ca404f ;
    line-height: 1.4;
}
buttons{
font-family: 'karla';
font-size: 16px;
color: white;
line-height:42px ;
background-color:#ca404f ;
}